/* ----------- iPhone 6, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen
and (min-width: 375px)
and (max-width: 667px),
    /* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
only screen
and (min-device-width: 320px)
and (max-device-width: 568px),
    /* ----------- iPhone X ----------- */
only screen
and (min-device-width: 375px)
and (max-device-width: 812px),
    /* ----------- Galaxy, HTC One, Google Pixel, Nexus 5 ----------- */
only screen
and (device-width: 360px)
and (device-height: 640px) {

    .search-wrapper {
        padding: 1rem 2rem !important;
    }

    .search-wrapper .btn.btn-primary {
        width: 60px !important;
        font-size: 1.2rem !important;
    }

    .search-wrapper input {
        padding: 1rem 1rem 1rem 4rem !important;
        border-radius: 1rem !important;
    }

    .icon-search {
        left: 1rem !important;
        transform: translateY(-50%);
        width: 2rem !important;
        height: 2rem !important;
    }
}
